<?xml version="1.0" encoding="utf-8" ?>

<configuration>

  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>







  <system.serviceModel>
    <services>

      <service
        name="CEP.EventGenerators.Services.SimulatorControlService"
        behaviorConfiguration="mex">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/CEP/SimulatorControl/" />
          </baseAddresses>
        </host>

        <endpoint
          address="SimulatorControl"
          binding="wsDualHttpBinding"
          contract="CEP.EventGenerators.Adaptors.ISimulatorControlService"
          />
        <endpoint
          address=""
          binding="mexHttpBinding"
          contract="IMetadataExchange"
          />

      </service>

    </services>


    <behaviors>
      <serviceBehaviors>
        <behavior name="mex" >

          <serviceDebug
            includeExceptionDetailInFaults="true"
    />
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>










  <log4net>

    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <!--<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />-->
      <conversionPattern value="%-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="ALL" />
      <appender-ref ref="ColoredConsoleAppender" />
    </root>
  </log4net>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEventReceiverService">
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/CEP/EventReceiver/EventReceiver"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEventReceiverService"
        contract="EventReceiverService.IEventReceiverService" name="BasicHttpBinding_IEventReceiverService" />
    </client>
  </system.serviceModel>
</configuration>
